ContentManager.7/TemplatesCM/DTD/FlexPage.dtd

<!--
	FlexCMP - Digital Experience Platform (DXP)
	(c) 2000 - 2018 Dedagroup Wiz - Bologna - Italy
	http://www.dedagroup.it/wiz

	Gennaio 2005 - FlexPage DTD versione 1.0
-->

<!-- 	Entities per la sostituzione -->
<!ENTITY % TextContent "(#PCDATA | strong | em | br | span | link)*">

<!ENTITY % BLOBContainer "(container | conditionalcontainer | namedcontainer)">

<!ENTITY % BLOBElement "(
	pageInfo
	 | h1
	 | h2
	 | h3
	 | h4
	 | h5
	 | customtext
	 | emptyline
	 | pagebreak
	 | anchor
	 | anchorlist
	 | anchorlink
	 | download
	 | elencoCanali
	 | calendar
	 | object
	 | description
	 | forum
	 | hr
	 | HTMLArea
	 | imgpar
	 | imgrow
	 | link
	 | p
	 | ol
	 | ul
	 | table
	 | img
	 | rssimporter
	 | flexpageimporter
	 | nllist
	 | imgmap
	 | gallery
	 | video
	 | indexslice
	 | nextprev
	 | elencovideo
	 | videoplayer
	 | videoplaylist

)*">

<!ELEMENT FlexPage ( %BLOBElement; | %BLOBContainer;)* >

<!ELEMENT container ( %BLOBElement; )* >
<!ATTLIST container
	leftspan		CDATA											#REQUIRED
	dxwidth		CDATA											#REQUIRED
	sxwidth		CDATA											#REQUIRED
>

<!ELEMENT conditionalcontainer ( %BLOBElement; )* >
<!ATTLIST conditionalcontainer
	accessrule		CDATA											#REQUIRED
>

<!ELEMENT namedcontainer ( %BLOBElement; )* >
<!ATTLIST namedcontainer
	tag		CDATA											#REQUIRED
>

<!--
<!ELEMENT FlexPage (
	pageInfo
	 | h1
	 | h2
	 | h3
	 | h4
	 | h5
	 | customtext
	 | emptyline
	 | pagebreak
	 | anchor
	 | anchorlist
	 | anchorlink
	 | download
	 | elencoCanali
	 | calendar
	 | object
	 | description
	 | forum
	 | hr
	 | HTMLArea
	 | imgpar
	 | imgrow
	 | link
	 | p
	 | ol
	 | ul
	 | table
	 | img
	 | rssimporter
	 | flexpageimporter
	 | nllist
	 | imgmap
	 | gallery
	 | indexslice
	 | nextprev
	 | conditionalcontainer
	 | namedcontainer
)* >
-->

<!ATTLIST FlexPage
version     CDATA #REQUIRED> <!-- must be "x.y"> -->

<!ELEMENT pageInfo (
	pageTitle,
	PageKeywords,
	PageDescription,
	pageIndexTitle,
	pageIndexTitleDescription,
	lastModifiedDate,
	startPublishingDate,
	endPublishingDate,
	eventDate,
	channels,
	lastModifiedAuthor?
	)>
<!ATTLIST pageInfo
	lang		CDATA											#REQUIRED
	approved	(TRUE | FALSE)									#REQUIRED
	status		(Published | UnderConstruction | Hidden)		#REQUIRED
>

<!ELEMENT pageTitle			(#PCDATA)>
<!ELEMENT PageKeywords			(#PCDATA)>
<!ELEMENT PageDescription		(#PCDATA)>
<!ELEMENT pageIndexTitle		(#PCDATA)>
<!ELEMENT pageIndexTitleDescription	(#PCDATA)>
<!ELEMENT lastModifiedDate		(#PCDATA)>
<!ELEMENT lastModifiedAuthor		(#PCDATA)>
<!ELEMENT startPublishingDate		(#PCDATA)>
<!ELEMENT endPublishingDate		(#PCDATA)>
<!ELEMENT eventDate		(#PCDATA)>
<!ELEMENT channels			(channel*) >
<!ELEMENT channel			(#PCDATA)>
<!ATTLIST channel
	id		CDATA #REQUIRED
	name		CDATA #REQUIRED
>

<!ELEMENT h1 (#PCDATA)>
<!ELEMENT h2 (#PCDATA)>

<!ELEMENT customtext (#PCDATA)>
<!ATTLIST customtext
	template	CDATA #REQUIRED
>

<!ELEMENT emptyline EMPTY>
<!ELEMENT pagebreak EMPTY>

<!--
	anchor
-->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor
	id			CDATA #REQUIRED
	title			CDATA #REQUIRED
	hideInList		(TRUE | FALSE) #REQUIRED
>
<!ELEMENT anchorlist EMPTY>
<!ELEMENT anchorlink (text)>
<!ATTLIST anchorlink
	href			CDATA #REQUIRED
>

<!ELEMENT download (fileName, text, img)>

<!ELEMENT elencoCanali (channels+)>
<!ATTLIST elencoCanali
	mode			CDATA #REQUIRED
	rssfeed			CDATA #REQUIRED
	sort			CDATA #REQUIRED
	showNavigation		(TRUE | FALSE) #REQUIRED
	maxNum			CDATA #IMPLIED
	subset			CDATA #IMPLIED
>

<!ELEMENT calendar (channels?)>
<!ATTLIST calendar
	mode			CDATA #REQUIRED
	destinationPage		CDATA #REQUIRED
>

<!ELEMENT object (fileName, description)>
<!ATTLIST object
	template		CDATA #REQUIRED
>
<!ELEMENT description (#PCDATA)>

<!ELEMENT forum EMPTY>
<!ATTLIST forum
	id			CDATA #REQUIRED
>

<!ELEMENT hr EMPTY>
<!ELEMENT HTMLArea (#PCDATA)>

<!ELEMENT imgpar (text, subtitle, img)>
<!ATTLIST imgpar
	kind			(IT | TI | IST | STI) #REQUIRED
>

<!ELEMENT imgrow (img+)>

<!ELEMENT link (text, img?)>
<!ATTLIST link
	href			CDATA #REQUIRED
>

<!ELEMENT rssimporter EMPTY>
<!ATTLIST rssimporter
	template		CDATA #REQUIRED
	feedurl			CDATA #REQUIRED
	number			CDATA #REQUIRED
	skip			CDATA #REQUIRED
	cacheTime		CDATA #REQUIRED
>

<!ELEMENT flexpageimporter EMPTY>
<!ATTLIST flexpageimporter
	cacheTime		CDATA #REQUIRED
	pageID			CDATA #REQUIRED
	baseURL			CDATA #REQUIRED
>

<!ELEMENT nllist EMPTY>
<!ATTLIST nllist
	id		CDATA #REQUIRED
	sort			CDATA #REQUIRED
	template			CDATA #REQUIRED
>
<!ELEMENT imgmap (#PCDATA)>
<!ATTLIST imgmap
	src		CDATA #REQUIRED
	alt		CDATA #REQUIRED
	align		CDATA #REQUIRED
>

<!ELEMENT gallery EMPTY>
<!ATTLIST gallery
	idgallery		CDATA #REQUIRED
	navigationmode		CDATA #REQUIRED
	template		CDATA #REQUIRED
>

<!ELEMENT video (file)*>
<!ATTLIST video
	width		CDATA #REQUIRED
	height		CDATA #REQUIRED
	kind		CDATA #REQUIRED
	border		CDATA #REQUIRED
	textheight		CDATA #REQUIRED
>

<!ELEMENT indexslice EMPTY>
<!ATTLIST indexslice
	indexid			CDATA #REQUIRED
>

<!ELEMENT nextprev EMPTY>

<!--
	lista
-->
<!ELEMENT ol (li+)>
<!ELEMENT ul (li+)>
<!ELEMENT li %TextContent;>

<!ELEMENT table (tr+)>
<!ELEMENT tr (td | th)+>
<!ELEMENT th %TextContent;>
<!ELEMENT td %TextContent;>

<!--
	testo
-->

<!ELEMENT text %TextContent;>
<!ELEMENT subtitle %TextContent;>
<!ELEMENT p %TextContent;>
<!ATTLIST p
	lang			CDATA #IMPLIED
>
<!ELEMENT strong %TextContent;>
<!ELEMENT em %TextContent;>
<!ELEMENT span %TextContent;>
<!ELEMENT br EMPTY>

<!-- elementi usati in più posti -->
<!ELEMENT fileName (#PCDATA)>
<!ELEMENT file (#PCDATA)>
<!ELEMENT img EMPTY>
<!ATTLIST img
	src			CDATA #REQUIRED
	alt			CDATA #REQUIRED
	caption	CDATA  #IMPLIED
>

<!--
	galleria video
-->

<!ELEMENT videoplayer EMPTY>
<!ATTLIST videoplayer
	videoid			CDATA #REQUIRED
	playertemplate	CDATA #REQUIRED
>
<!ELEMENT elencovideo EMPTY>
<!ATTLIST elencovideo
	classification		CDATA #REQUIRED
	selmode				CDATA #REQUIRED
	listtemplate		CDATA #REQUIRED
	playertemplate		CDATA #REQUIRED
	ordeby				CDATA #REQUIRED
	sortdirection		CDATA #REQUIRED
	paginationmode		CDATA #REQUIRED
	videoperpage		CDATA #REQUIRED
	important			CDATA #REQUIRED
>
<!ELEMENT videoplaylist EMPTY>
<!ATTLIST videoplaylist
	author				CDATA #REQUIRED
	playlistid			CDATA #REQUIRED
	listtemplate		CDATA #REQUIRED
	playertemplate		CDATA #REQUIRED
	paginationmode		CDATA #REQUIRED
	videoperpage		CDATA #REQUIRED
>


<!--
<!ENTITY % ISOlat1 PUBLIC
"ISO 8879-1986//ENTITIES Added Latin 1//EN//HTML">
%ISOlat1;
-->

<!ENTITY nbsp   "&#160;"> <!-- no-break space -->
<!ENTITY iexcl  "&#161;"> <!-- inverted exclamation mark -->
<!ENTITY cent   "&#162;"> <!-- cent sign -->
<!ENTITY pound  "&#163;"> <!-- pound sterling sign -->
<!ENTITY curren "&#164;"> <!-- general currency sign -->
<!ENTITY yen    "&#165;"> <!-- yen sign -->
<!ENTITY brvbar "&#166;"> <!-- broken (vertical) bar -->
<!ENTITY sect   "&#167;"> <!-- section sign -->
<!ENTITY uml    "&#168;"> <!-- umlaut (dieresis) -->
<!ENTITY copy   "&#169;"> <!-- copyright sign -->
<!ENTITY ordf   "&#170;"> <!-- ordinal indicator, feminine -->
<!ENTITY laquo  "&#171;"> <!-- angle quotation mark, left -->
<!ENTITY not    "&#172;"> <!-- not sign -->
<!ENTITY shy    "&#173;"> <!-- soft hyphen -->
<!ENTITY reg    "&#174;"> <!-- registered sign -->
<!ENTITY macr   "&#175;"> <!-- macron -->
<!ENTITY deg    "&#176;"> <!-- degree sign -->
<!ENTITY plusmn "&#177;"> <!-- plus-or-minus sign -->
<!ENTITY sup2   "&#178;"> <!-- superscript two -->
<!ENTITY sup3   "&#179;"> <!-- superscript three -->
<!ENTITY acute  "&#180;"> <!-- acute accent -->
<!ENTITY micro  "&#181;"> <!-- micro sign -->
<!ENTITY para   "&#182;"> <!-- pilcrow (paragraph sign) -->
<!ENTITY middot "&#183;"> <!-- middle dot -->
<!ENTITY cedil  "&#184;"> <!-- cedilla -->
<!ENTITY sup1   "&#185;"> <!-- superscript one -->
<!ENTITY ordm   "&#186;"> <!-- ordinal indicator, masculine -->
<!ENTITY raquo  "&#187;"> <!-- angle quotation mark, right -->
<!ENTITY frac14 "&#188;"> <!-- fraction one-quarter -->
<!ENTITY frac12 "&#189;"> <!-- fraction one-half -->
<!ENTITY frac34 "&#190;"> <!-- fraction three-quarters -->
<!ENTITY iquest "&#191;"> <!-- inverted question mark -->
<!ENTITY Agrave "&#192;"> <!-- capital A, grave accent -->
<!ENTITY Aacute "&#193;"> <!-- capital A, acute accent -->
<!ENTITY Acirc  "&#194;"> <!-- capital A, circumflex accent -->
<!ENTITY Atilde "&#195;"> <!-- capital A, tilde -->
<!ENTITY Auml   "&#196;"> <!-- capital A, dieresis or umlaut mark -->
<!ENTITY Aring  "&#197;"> <!-- capital A, ring -->
<!ENTITY AElig  "&#198;"> <!-- capital AE diphthong (ligature) -->
<!ENTITY Ccedil "&#199;"> <!-- capital C, cedilla -->
<!ENTITY Egrave "&#200;"> <!-- capital E, grave accent -->
<!ENTITY Eacute "&#201;"> <!-- capital E, acute accent -->
<!ENTITY Ecirc  "&#202;"> <!-- capital E, circumflex accent -->
<!ENTITY Euml   "&#203;"> <!-- capital E, dieresis or umlaut mark -->
<!ENTITY Igrave "&#204;"> <!-- capital I, grave accent -->
<!ENTITY Iacute "&#205;"> <!-- capital I, acute accent -->
<!ENTITY Icirc  "&#206;"> <!-- capital I, circumflex accent -->
<!ENTITY Iuml   "&#207;"> <!-- capital I, dieresis or umlaut mark -->
<!ENTITY ETH    "&#208;"> <!-- capital Eth, Icelandic -->
<!ENTITY Ntilde "&#209;"> <!-- capital N, tilde -->
<!ENTITY Ograve "&#210;"> <!-- capital O, grave accent -->
<!ENTITY Oacute "&#211;"> <!-- capital O, acute accent -->
<!ENTITY Ocirc  "&#212;"> <!-- capital O, circumflex accent -->
<!ENTITY Otilde "&#213;"> <!-- capital O, tilde -->
<!ENTITY Ouml   "&#214;"> <!-- capital O, dieresis or umlaut mark -->
<!ENTITY times  "&#215;"> <!-- multiply sign -->
<!ENTITY Oslash "&#216;"> <!-- capital O, slash -->
<!ENTITY Ugrave "&#217;"> <!-- capital U, grave accent -->
<!ENTITY Uacute "&#218;"> <!-- capital U, acute accent -->
<!ENTITY Ucirc  "&#219;"> <!-- capital U, circumflex accent -->
<!ENTITY Uuml   "&#220;"> <!-- capital U, dieresis or umlaut mark -->
<!ENTITY Yacute "&#221;"> <!-- capital Y, acute accent -->
<!ENTITY THORN  "&#222;"> <!-- capital THORN, Icelandic -->
<!ENTITY szlig  "&#223;"> <!-- small sharp s, German (sz ligature) -->
<!ENTITY agrave "&#224;"> <!-- small a, grave accent -->
<!ENTITY aacute "&#225;"> <!-- small a, acute accent -->
<!ENTITY acirc  "&#226;"> <!-- small a, circumflex accent -->
<!ENTITY atilde "&#227;"> <!-- small a, tilde -->
<!ENTITY auml   "&#228;"> <!-- small a, dieresis or umlaut mark -->
<!ENTITY aring  "&#229;"> <!-- small a, ring -->
<!ENTITY aelig  "&#230;"> <!-- small ae diphthong (ligature) -->
<!ENTITY ccedil "&#231;"> <!-- small c, cedilla -->
<!ENTITY egrave "&#232;"> <!-- small e, grave accent -->
<!ENTITY eacute "&#233;"> <!-- small e, acute accent -->
<!ENTITY ecirc  "&#234;"> <!-- small e, circumflex accent -->
<!ENTITY euml   "&#235;"> <!-- small e, dieresis or umlaut mark -->
<!ENTITY igrave "&#236;"> <!-- small i, grave accent -->
<!ENTITY iacute "&#237;"> <!-- small i, acute accent -->
<!ENTITY icirc  "&#238;"> <!-- small i, circumflex accent -->
<!ENTITY iuml   "&#239;"> <!-- small i, dieresis or umlaut mark -->
<!ENTITY eth    "&#240;"> <!-- small eth, Icelandic -->
<!ENTITY ntilde "&#241;"> <!-- small n, tilde -->
<!ENTITY ograve "&#242;"> <!-- small o, grave accent -->
<!ENTITY oacute "&#243;"> <!-- small o, acute accent -->
<!ENTITY ocirc  "&#244;"> <!-- small o, circumflex accent -->
<!ENTITY otilde "&#245;"> <!-- small o, tilde -->
<!ENTITY ouml   "&#246;"> <!-- small o, dieresis or umlaut mark -->
<!ENTITY divide "&#247;"> <!-- divide sign -->
<!ENTITY oslash "&#248;"> <!-- small o, slash -->
<!ENTITY ugrave "&#249;"> <!-- small u, grave accent -->
<!ENTITY uacute "&#250;"> <!-- small u, acute accent -->
<!ENTITY ucirc  "&#251;"> <!-- small u, circumflex accent -->
<!ENTITY uuml   "&#252;"> <!-- small u, dieresis or umlaut mark -->
<!ENTITY yacute "&#253;"> <!-- small y, acute accent -->
<!ENTITY thorn  "&#254;"> <!-- small thorn, Icelandic -->
<!ENTITY yuml   "&#255;"> <!-- small y, dieresis or umlaut mark -->
<!ENTITY euro "&#x20AC;"><!-- euro sign, U+20AC NEW -->
